@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
/*========== Colors ==========*/
$body-first-color: #212121;
$body-second-color: #191919;
$card-color: #414141;
$text-first-color-card: rgba(0, 0, 0, 0.1);
$text-second-color-card: #ffce00;
